.DS_Store
config/database.yml
config/email.yml
config/deploy.rb
config/settings.yml
config/newrelic.yml
config/ey-cloud.yml
config/s3.yml
db/*.sqlite3
public/system
public/coverage
public/features_rcov
public/javascripts/js_all.js
public/stylesheets/styles_all.css